* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(ae6dc78efb8c332e22e3d3218565a43d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.container {
    border: 5px solid white;
    width: 500px;
    height: 500px;
    padding: 20px;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

h1.a {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 5px;
    width: 100%; 
}

label {
    display: block;
    margin-bottom: 1px;
    font-size: 15px;
    text-align: left;
    color: white;
    font-weight:600 ;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background: transparent;
    color: white;
    border-bottom: 5px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

input:focus {
    outline: none;
    border-color: #007BFF;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    font-size: 15px;
    color: red;
    visibility: hidden;
    
}
.form-group.error p{
    color: red;
    visibility: visible;

}
.form-group.error input{
    border-color: red
}
.form-group.success input{
    border-color: yellowgreen
}
.s{
    color: white;
    margin-top: 20px;
}
.s a{
    text-decoration: none;
    color: rgb(21, 124, 198);
    margin-left: 15px;
}
